body {
  margin: 5rem;
  background-color: #2e294e;
  overflow: hidden;
  height: 100%;
}
ul {
  /* margin-top: 4%; */
  width: 45%;
  list-style: none;
  display: flex;
}

.textHeader {
  margin: auto;
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #ff7dcc;
}
a {
  text-decoration: none;
}

h1 {
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 95px;
  color: #ff7dcc;
}

.textoContato {
  font-family: 'Carrois Gothic', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #ff7dcc;
}
section {
  width: 40%;
  margin-left: 3%;
}

div {
  margin-top: 4rem;
  font-family: 'Space Mono', monospace;
  color: #53fa01;
  font-size: 36px;
}

.elipse {
  box-sizing: border-box;

  position: absolute;
  width: 100%;
  height: 100%;
  left: 56%;
  top: 35%;

  border: 35px solid #ecc8ae;
  border-radius: 104px;
}

.redes {
  font-family: 'Space Mono', monospace;
  color: #ff7dcc;
}

.icones {
  position: relative;
  width: 196.5px;
  height: 21.03px;

  top: -3rem;
}

.rform {
  position: absolute;
  padding: 3.5%;
  margin: auto;
  background-color: white;
  border-radius: 32px;
  width: 30vw;
  height: 55vh;
  left: 55%;
  top: 25%;
}

::placeholder {
  font-family: 'Space Mono', monospace;
  font-size: 20px;
  color: #EC1D9B;
  padding-left: 16px;
}

input {
  margin-top: 5%;
  width: 30vw;
  height: 5vh;
  border-radius: 6px;
  border: none;
  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07))
    drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198))
    drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275))
    drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035))
    drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725))
    drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802));
  font-family: 'Space Mono', monospace;
  color: #EC1D9B;
  font-size: 20px;
  padding-left: 16px;
}

.mensagem {
  width: 100%;
  height: 45%;
  border-radius: 6px;
  border: none;
  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07))
    drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198))
    drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275))
    drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035))
    drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725))
    drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802));
  font-family: 'Space Mono', monospace;
  color: #EC1D9B;
  font-size: 20px;
  
  
}

 .fname ::placeholder {
  font-family: 'Space Mono', monospace;
  font-size: 20px;
  color: #EC1D9B;
  padding-left: 16px;
  margin-bottom: 25px;
}